*{
  margin: 0;
  padding:0;
}
body,html{
  background: #e0e0e0;
}
.header-search-bar{
  position: fixed;
  display: inline-block;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  width: 95%;
  max-width: 344px;
  height: 48px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  filter: brightness(0.7) contrast(1) sepia(1) hue-rotate(115deg) saturate(1.5);
}
div#stats-background{
  position: absolute;
  left: 2.5%;
  transform: translateY(70px);
  display: inline-block;
  background-color: black;
  top: 8px;
  width: 95%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align:center;
}
input{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 40px;
  left: 172px;
  margin: 4px 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}
svg{
  transform: translate(50%, 65%);
}
h1{
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  font-family: monospace;
  font-weight: 800;
}
ul#stats-display{
  left: 2.5hv;
  width: 95hv;
  list-style: none;
  display: inline-block;
  margin: auto;
  white-space: nowrap;
  text-align: center;
}
li{
  display: table-cell;
  width: 23%;
  height: 200px;
  background: #673ab7;
  margin: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-align: center;
  font-size: 24px;
  color: cyan;
  line-height: 100px;
  font-family: monospace;
  text-decoration: none;
}
