<div class="jumbotron text-white bg-primary mb-3" style="text-align: center">
    <h1>404</h1>
    <h2>Oops. Looks like this route is under construction.</h2>
    <img src="/image/cutePepe.gif" alt="Pepe Under Construction">
</div>