<h1 class="mt-4"><%= name %>'s Profile</h1>
<a href="/link/gamertag" class="btn btn-secondary">LINK EPIC GAMES ACCOUNT</a>
<a href="/link/payment" class="btn btn-secondary">ADD PAYMENT METHOD</a>
<a href="/users/logout" class="btn btn-secondary">LOGOUT</a>
