<div class="jumbotron">
    <h1 class="mt-4"><%= name %>'s Profile</h1>
    <a href="/link/gamertag" class="btn btn-secondary">LINK EPIC GAMES ACCOUNT</a>
    <a href="/link/payment" class="btn btn-secondary">ADD PAYMENT METHOD</a>
    <a href="/link/addfriend" class="btn btn-secondary">ADD FRIEND</a>
    <a href="/users/logout" class="btn btn-secondary">LOGOUT</a>
</div>
<div class="jumbotron">
    <h3 class="title">FRIENDS LIST</h3>
    <% include ./partials/friends %>
</div>
<div class="jumbotron">
    <h3 class="title">FRIENDS REQUESTS</h3>
    <% include ./partials/friendRequest %>
</div>