<div class="jumbotron rounded">
    <h1 class="display-2">FRIEND ADDED: <%= typeof name != 'undefined' ? name: ''%> </h1>
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">RETURN TO YOUR PROFILE</a>
    <a href="/link/addfriend" class="btn btn-primary btn-block mb-2">ADD ANOTHER FRIEND</a>
</div>