<div class="jumbotron">
    <h1 class="display-2">EPIC ACCOUNT LINKED: <%= typeof handle != 'undefined' ? handle: ''%> </h1>
    <a href="/dashboard" class="btn btn-primary btn-block mb-2">RETURN TO YOUR PROFILE</a>
</div>