<div class="jumbotron rounded" id="handdiv">
	<h1 class="display-3">  WAGE</h1>
</div>
<div class="jumbotron rounded">
	<h1 class="display-3">  DROP</h1>
</div>
<div class="jumbotron rounded">
	<h1 class="display-3">  ROYALE</h1>
</div>
<div class="jumbotron rounded">
	<a href="/users/login" class="btn btn-primary btn-block mb-2">MAKE AN ACCOUNT</a>
	<a href="/wage/place" class="btn btn-primary btn-block mb-2">WAGE NOW</a>
</div>