<div class="jumbotron">
	<h1 class="display-3">  WAGE</h1>
</div>
<div class="jumbotron">
	<h1 class="display-3">  DROP</h1>
</div>
<div class="jumbotron">
	<a href="/users/login" class="btn btn-primary btn-block mb-2">MAKE AN ACCOUNT</a>
	<a href="/" class="btn btn-primary btn-block mb-2">WAGE NOW</a>
</div>
